
@media (min-width: 1024px) {
    .is-mobile {
        display: none;
    }

    .dropdown-menu {
        position: absolute;
        width: 260px;
        top: 100%;
        left: calc(50% - 130px);
        background-color: var(--white);
        border: 1px solid #eee;
        box-shadow: 0 0 3px rgba(11, 11, 11, 0.1);
        border-radius: 3px;
        display: block;
        opacity: 0;
        z-index: -11;
        transition: all 350ms ease;
        transform: translateY(30px);
    }

    .top-nav-submenu {
        position: absolute;
        width: 160px;
        top: 100%;
        left: calc(50% - 80px);
        background-color: var(--white);
        border: 1px solid #eee;
        box-shadow: 0 0 3px rgba(11, 11, 11, 0.1);
        border-radius: 3px;
        display: block;
        opacity: 0;
        z-index: -11;
        transition: all 350ms ease;
        transform: translateY(30px);
    }

    .top-nav-item:hover .top-nav-submenu {
        opacity: 1;
        z-index: 111;
        transform: translateY(0);
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        z-index: 111;
        transform: translateY(0);
    }

    .top-nav-submenu:after, .top-nav-submenu:before,
    .dropdown-menu:after, .dropdown-menu:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .top-nav-submenu::after,
    .dropdown-menu:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 5px;
        margin-left: -5px;
    }

    .top-nav-submenu::before,
    .dropdown-menu:before {
        border-color: rgba(187, 187, 187, 0);
        border-bottom-color: #eee;
        border-width: 6px;
        margin-left: -6px;
    }

    .dropdown-item + .dropdown-item {
        border-top: 1px solid var(--light)
    }

    .dropdown-item {
        position: static;
    }


    .dropdown-item + .dropdown-item {
        border-top: 1px solid var(--light)
    }

    .categories {
        display: block;
    }

    .categories .dropdown-menu {
        opacity: 1;
        z-index: 11;
        transition: all 350ms ease;
        transform: translateY(0);
        height: 420px;
        left: 0
    }
    .category-submenu {
        position: absolute;
        top: -1px;
        left: 100%;
        list-style: none;
        width: calc(1300px - 560px);
        background-color: var(--white);
        height: 420px;
        margin: 0;
        padding: 0;
        border-left: 1px solid var(--light);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc((100% / 3) - 25px), 1fr));
        grid-gap: 25px;
        opacity: 0;
        z-index: -11;
        visibility: hidden;
        transition: all 350ms ease;
        transform: translateX(30px);
        box-shadow: 0 0 3px rgba(11, 11, 11,  0.1);
        transition-delay: 250ms;
    }

    .dropdown-item:hover .category-submenu {
        visibility: visible;
        opacity: 1;
        z-index: 11;
        transform: translateX(0);
        transition-delay: 250ms;
    }

    .inner-title,
    .top-menu,
    .category {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sub-category .dropdown-item {
        padding: 10px 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .sub-category .dropdown-item.inner-title {
        padding: 10px 20px 10px;
        color: var(--dark);
        font-weight: 500;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .category {
        border-top: 1px solid var(--light)
    }

}
@media (max-width: 1024px) {

    ::-webkit-scrollbar  {
        display: none;
    }

    * {
        scrollbar-color: transparent transparent;
        scrollbar-width: none;
    }

    .is-desktop {
        display: none
    }

    .top-nav {
        width: 300px;
        height: 100%;
        background-color: var(--white);
        box-shadow: 0 0 3px rgba(11, 11, 11, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        transition: all 400ms ease;
        transform: translateX(-300px);
        display: block;
    }

    .top-nav-item a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .top-nav-item a .icon-arrow {
        display: none;
    }

    .top-nav-item .top-nav-submenu a {
        color: var(--dark)
    }

    .backgroud-transparent {
        width: 100%;
        height: 100%;
        background-color: rgba(11, 11, 11, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -7;
        transition: all 400ms ease;
        opacity: 0;
        visibility: hidden;
    }

    .open-menu {
        overflow: hidden;
    }

    .open-menu .header-middle,
    .open-menu #site-main,
    .open-menu #site-footer,
    .open-menu #navigation {
        transition: all 400ms ease;
        transform: translateX(300px);
    }

    .open-menu .top-nav {
        transform: translateX(0);
    }

    .open-menu .backgroud-transparent {
        z-index: 7;
        transition: all 400ms ease;
        opacity: 1;
        visibility: visible;
    }

    .open-menu .backgroud-transparent::before,
    .open-menu .backgroud-transparent::after {
        content: "";
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50px;
        left: 320px;
        background-color: #fff;
        display: block;
        transform: rotate(45deg);
    }

    .open-menu .backgroud-transparent::after {
        transform: rotate(-45deg);
    }

    #navigation {
        border: none;
        background: none;
    }


    .navigation-list {
        display: block;
        background-color: var(--primary);
        border-radius: 4px;
        margin: 15px auto;
    }
    .navigation-list .menu-link {
        padding: 7px 10px;
    }

    .menu-link:after {
        display: none;
    }

    .menu-link {
        text-align: left;
        padding: 10px 15px;
        justify-content: space-between;
        text-transform: inherit;
        font-weight: 500;
        font-size: 15px;
        color: var(--primary)
    }

    .menu-item:nth-child(n + 2),
    .dropdown-item {
        border-top: 1px solid var(--light);
    }

    .site-header {
        box-shadow: 0 0 3px  rgba(11, 11, 11, 0.5);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: var(--white);
    }

    .site-logo {
        width: 150px;
    }

    .header-right {
        width: calc(100% - 150px)
    }

    .login-txt {
        display: none;
    }


    .component-title {
        font-size: 13px;
    }

    .component-box-transfer {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 10px;
        padding: 0;
    }

    .transfer-box + .transfer-box::before {
        display: none;
    }

    .transfer-link span {
        font-size: 13px;
    }

    #schedule {
        margin-top: 25px;
    }

    .component-box-training {
        flex-wrap: wrap;
    }

    .box-training-item,
    .box-training-item + .box-training-item {
        width: 100%;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .box-training-desc,
    .box-training-image {
        width: 100%;
    }

    #site-footer .site-w {
        flex-direction: column;
    }

    #site-footer .site-w > div,
    #site-footer .site-w > a {
        width: 100%;
        padding: 0 15px;
        margin: 0 0 15px;;
        border: none;
    }

    .social span {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .social span img {
        width: 100%;
        height: auto;
    }

    .site-w.flex-box {
        align-items: center;
    }

    .open-menu-icon {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .open-menu-icon span {
        background-color: var(--gray);
        width: 100%;
        height: 2px;
        border-radius: 2px;
        display: block;
        margin: 1px;
    }

    .open-search-icon {
        width: 36px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        transition: all 350ms ease;
    }

    .language-box {
        flex-direction: row;
        border: none;
        align-items: center;
        margin: 0;
        padding: 0;
        order: 7;
    }

    .hotline-item i {
        font-size: 23px;
    }

    .shopping-cart-icon {
        width: 24px;
        height: 24px;
    }

    .shopping-cart-number {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }

    .language-box a {
        margin: 0 5px;
    }

    .search-header {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 100%;
        padding: 7px 15px;
        display: none;
        background-color: #fff;
    }

    .open-search .search-header {
        display: flex;
    }
    .open-search .search-header button {
        height: 34px;
    }
    .open-search .open-search-icon .icon-search::before {
        color: var(--primary)
    }

    .search-header input {
        height: 34px;
    }

    .footer-logo img {
        height: 100px;
    }

    .social-login .button {
        width: 44%;
        font-size: 13px;
    }

    .social-login .button span {
        display: none
    }

    .login-popup-wrapper .login-box {
        flex-wrap: wrap;
    }

    .login-box .form-group {
        width: 100%;
    }

    .login-popup-wrapper .login-box .form-group + .form-group {
        margin: 0
    }

    .top-content {
        flex-wrap: wrap;
    }

    .left-col,
    .right-col,
    .center-col{
        width: 100%;
        padding: 0
    }

    .top-content {
        padding: 0
    }

    #top-category {
        width: 100%;
        background-color: transparent;
        text-align: center;
        color: var(--white);
        justify-content: center;
    }

    .list-category,
    .list-category li,
    .list-category ul li,
    .list-category ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

    .list-category,
    .category-submenu,
    .inner-title {
        display: none;
    }

    .category a {
        display: block;
        padding: 7px 15px;
    }

    #site-main .site-w {
        padding: 0
    }
}

@media (max-width: 760px) {
    .repair-content, .segment-order-form-content {
        width: 94vw;
        left: calc(50% - 47vw)
    }

    .form-item {
        flex-wrap: wrap;
    }

    .form-body {
        max-height: 84vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .form-body .form-control, .form-body select {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        order: 4;
    }
    .page {
        width: 100%;
        order: 2;
        padding: 0
    }

    ..article-image {
        width: 150px;
    }

    .article-content {
        width: calc(100% - 150px)
    }

    .article-desc {
        height: 100px;
        overflow: hidden;
    }

    .trending-list {
        grid-template-columns: repeat(auto-fill, minmax(calc((100% / 2) - 25px), 1fr));
    }

    .product-images {
        height: 150px;
    }

    .component-tabs {
        flex-wrap: wrap;
        padding: 7px 0;
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .right-col {
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .component-title {
        border-right: 4px solid var(--primary)
    }

    .component-head,
    .products-tab {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 3px 0
    }

    .component-title::before {
        position: absolute;
        content: "";
        right: -2px;
        border-top: 1px solid var(--primary);
        top: 0;
        height: 100%;
        border-bottom: 1px solid var(--primary);
        border-radius: 0 5px 5px 0;
        width: 6%;
    }

    .product-slider .slick-arrow.slick-prev {
        left: 15%
    }

    .product-slider .slick-arrow.slick-next {
        right: 15%
    }

    .promote {
        display: none;
    }

    .bottom-content .component-title {
        margin: 25px auto;
    }

    .hotline-item span {
        display: none;
    }

    #login-button {
        display: none;
    }

    .language-box img {
        min-width: 24px;
    }

    .open-search-icon {
        font-size: 31px;
    }

    .widget-product-item {
        padding: 15px;
    }

    .widget-product-item-image {
        width: 140px;
    }

    .widget-product-body {
        width: calc(100% - 140px);
    }

    .category-head,
    .listfilter {
        width: calc(100% - 30px);
        margin: 0 auto;
        text-align: center;
    }

    .category-head span {
        display: none;
    }

    .outline-secondary {
        height: 100%;
        font-size: 12px;
    }

    .grid-list {
        display: none;
    }
}


@media (max-width: 324px) {
    #navigation {
        width: 260px;
        transform: translateX(-260px);
    }

    .open-menu #navigation {
        transform: translateX(0);
    }
    .open-menu .site-header,
    .open-menu #site-main,
    .open-menu #site-footer {
        transition: all 400ms ease;
        transform: translateX(260px);
    }

    .open-menu .backgroud-transparent::before,
    .open-menu .backgroud-transparent::after {
        left: 280px
    }
}
